<?xml version="1.0"?>
<robot name="single_yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find yumi_description)/urdf/Util/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find yumi_description)/urdf/Util/utilities.xacro" />
  <!--Import the yumi macro -->
  <xacro:include filename="$(find yumi_description)/urdf/single_yumi.xacro"/>
  <!--Import the yumi servo gripper macro -->
  <xacro:include filename="$(find yumi_description)/urdf/Grippers/yumi_servo_gripper.xacro"/>
  <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find yumi_description)/urdf/Gazebo/gazebo_single.urdf.xacro"/>




  <!-- <xacro:if value="${yumi_setup == 'default'}">
    <xacro:property name="yumi_parent" value="world" />
    <link name="world"/>
    <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="yumi_base_link"/>
      <origin xyz="0 0 0.5" rpy="0 0 0" />
    </joint>
  </xacro:if> -->
  <link name="world"/>

  <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="single_yumi_base_link"/>
      <origin xyz="0 0 0.0" rpy="0 0 0" />
  </joint>

  <!--yumi-->
  <xacro:single_yumi name="single_yumi" hardware_interface="hardware_interface/$(arg arms_interface)" parent="world" >
    <origin xyz="0 0.0 0.0" rpy="0 0 0" />
  </xacro:single_yumi>

  <!--right gripper-->
  <xacro:yumi_servo_gripper name="gripper" hardware_interface="hardware_interface/$(arg grippers_interface)" parent="single_yumi_link_7">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>


  <xacro:property name="yumi_setup" value="$(arg yumi_setup)" />

  <xacro:if value="${yumi_setup == 'robot_centric'}">
  	<!-- Pure YuMi URDF, with no joints connecting it to any other robot or pedestal. Neither accessories. -->
  </xacro:if>



</robot>
