<?xml version="1.0"?>

<robot name="single_yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="single_yumi_gazebo" params="name">

    <!-- Gazebo reference frame -->
    <gazebo reference="${name}_base_link">
      <material>Gazebo/Ivory</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>


  </xacro:macro>

</robot>
